.pourBougerBouton
{
 float : right;   
}

.centrer
{
 text-align: center;
}
.largeurMax
{
 width=100%;   
}
.gauche
{
 float: left;   
}
.droite
{
 float: right;   
}
body
{
 background-image: url(../images/fond.jpg); 
}

.contournerPbWidth
{
    width: 50%;
}