{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}

    <h3>Etre bénévole pour l'événement {{evenement.nom}}</h3>
    <span class="glyphicons glyphicons-ok-2" style="color=green">Candidature envoyée.</span>
  
{% endblock %}
