{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}
    <center>
        <div class="alert alert-success" role="alert" style="width:35%">
            <h3 class="centrer">{% trans %}Etre bénévole pour l'événement {% endtrans %} : {{evenement.nom}}</h3>
            <span class="centrer">{% trans %}Candidature envoyée.{% endtrans %}</span>
        </div>
</center>
  
{% endblock %}
