{% extends "::vueMere.html.twig" %}

{% block contenuCentral %}

    <h3>{% trans %}Etre bénévole pour l'événement {% endtrans %}{{evenement.nom}}</h3>
    <span class="glyphicons glyphicons-ok-2" style="color=green">{% trans %}Candidature envoyée.{% endtrans %}</span>
  
{% endblock %}
