<div class="droite" style="padding-right:20px">            
    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
        <img src="{{ asset('images/drapeauFrancais.png') }}"  height="20" width="30"/>
    </a>

    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'eu'})) }}">
        <img src="{{ asset('images/drapeauBasque.png') }}" height="20" width="30"/>
    </a>
</div>