<div class="droite" style="padding-right:20px">            
    <a href="ActionMetierChangerDeLangue">
        <img src="{{ asset('images/drapeauFrancais.png') }}"  height="20" width="30"/>
    </a>

    <a href="ActionMetierChangerDeLangue">
        <img src="{{ asset('images/drapeauBasque.png') }}" height="20" width="30"/>
    </a>
</div>